
#commands
{
	height:350px;
	width:100%;
	margin:0px;
	padding:0px;
}
#request-body
{
	height:100px;
	width:100%;
	margin:0px;
	padding:0px;
}
#response-body
{
	height:100px;
	width:100%;
	margin:0px;
	padding:0px;
}
.json-param-input
{
	height:100px;
	width:100%;
	margin:0px;
	padding:0px;
}